<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bulma-0.3.2/css/bulma.css">
    <title>{这里修改成你的小项目的名称}</title>
</head>
<body>

<div style="margin-top: 300px">
    <div class="columns">
        <div class="column is-6 is-offset-3">
            {% if form.errors %}
                <div class="notification is-danger">
                    <button class="delete" type="button"></button>
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            {{ error }}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="has-text-centered">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p class="control">
                        {{ form.keywords(class="input is-large", placeholder="请输入电影名") }}
                    </p>
                    {{ form.submit(class="button is-info is-large") }}
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>