<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 替换掉bulma -->
    <link rel="stylesheet" href="../static/element-ui.css">
    <title>{这里修改成你的小项目的名称}</title>
</head>
<body>
<div id="app">
    <div style="margin: 300px auto 100px; max-width: 650px; text-align: center">
        <el-form ref="form" :model="form" :rules="rules">
            <el-form-item prop="message">
                <el-input v-model="form.message" placeholder="关键字"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit('form')">查询</el-button>
            </el-form-item>
        </el-form>
    </div>

    <el-row style="margin: 20px auto;max-width: 1200px" v-if="get_movies" :gutter="20">
        <el-col style="margin-bottom: 40px;" v-for="item in movies" :span="6">
            <el-card :body-style="{ padding: '0px' }">
                <div style="height: 250px;overflow: hidden"><img style="width: 100%;display: block;"
                                                                 :src="item.images.large" alt=""></div>
                <div style="text-align: center">
                    <p v-text="item.title" style="font-size: 16px;"></p>
                    <p style="font-size: 11px;color: #6f7180">上映年份：<span v-text="item.year"></span>年</p>
                    <p><el-tag type="success">豆瓣评分：<span v-text="item.rating.average"></span></el-tag></p>
                    <p><a :href="item.alt" target="_blank"><el-button type="text">去豆瓣电影查看详情</el-button></a></p>
                </div>
            </el-card>
        </el-col>
    </el-row>

</div>

<script src="../static/jsonp.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- 引入组件库 -->
<script src="../static/element-ui.js"></script>
<script>

    new Vue({
        el: '#app',
        data: {
            form: {
                message: ''
            },
            rules: {
                message: [
                    {required: true, message: '请输入要查询的电影或电视剧的名称。', trigger: 'blur'}
                ]
            },
            movies: [],
            get_movies: false
        },
        methods: {
            onSubmit(formName) {
                let self = this;
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        jsonp('https://api.douban.com/v2/movie/search?q=' + this.form.message, null, function (err, data) {
                            if (err) {
                                return false;
                            } else {
                                self.movies = data.subjects;
                                self.get_movies = true;
                            }
                        })
                    } else {
                        return false;
                    }
                });
            }
        }
    })
</script>
</body>
</html>