<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bulma-0.3.2/css/bulma.css">
    <title>{这里修改成你的小项目的名称}</title>
</head>
<body>
<div style="margin-top: 300px">
    <div class="columns">
        <div class="column is-6 is-offset-3">
            {% if form.errors %}
                <div class="notification is-danger">
                    <button class="delete" type="button"></button>
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            {{ error }}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="has-text-centered">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p class="control">
                        {{ form.keywords(class="input is-large", placeholder="请输入电影名") }}
                    </p>
                    {{ form.submit(class="button is-info is-large") }}
                </form>
            </div>
        </div>
    </div>
    <div class="columns is-multiline">
        {% for item in data %}
            <div class="column is-4">
                <div class="box">
                    <div class="has-text-centered">
                        <img src="{{ item.images.medium }}" alt="">
                        <p>{{ item.title }}</p>
                        <p>上映年份：{{ item.year }}年</p>
                        <p>豆瓣评分：{{ item.rating.average }}</p>
                        <p><a href="{{ item.alt }}" target="_blank">去豆瓣电影查看详情</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>